@media (max-width: 1000px){
    #projetos .container .card{
        width: 300px;
    }
}

@media (max-width: 879px){
    #sobre-mim #box{
        flex-wrap: wrap;
    }

    #sobre-mim #box #conteudo{
        text-align: center;
    }

    #sobre-mim #box img{
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 768px){
    header{
        flex-direction: column;
    }

    header h1{
        margin-bottom: 30px;
    }

    #introducao{
        margin-top: -100px;
    }

    #projetos .container .card{
        width: 200px;
    }
}

@media (max-width: 510px){
    header nav{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #sobre-mim #box{
        padding: 20px;
    }

    #botao{
        right: 20px;
        bottom: 20px;
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 475px){
    header h1{
        font-size: 30px;
    }

    header nav a, #box #conteudo #descricao{
        font-size: 16px;
    }

    #introducao{
        margin-top: -180px;
    }

    #introducao p{
        font-size: 20px;
    }

    #habilidades ul li{
        width: 100px;
        height: 100px;
        padding: 10px;
    }

    #habilidades ul li p{
        font-size: 14px;
    }

    #habilidades ul li img{
        width: 40px;
        height: 40px;
    }
}